/.vs/drone-control-flask-system/FileContentIndex
/.vs
/.vs/drone-control-flask-system
.vs/drone-control-flask-system/FileContentIndex/cc38cb4a-1baa-4834-a3b1-e2604a232397.vsidx
.vs/drone-control-flask-system/v17/.suo
